@mixin flexCenter($direction: 'row') {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}


.leftMenu {
    @include flexCenter(column);
    width: 17%;
    background-color: $siteMainColor;
    height: 100vh;

    ul {
        width: 100%;

        li {
            padding-top: 18px;
            padding-bottom: 18px;
            text-align: center;
        }
    }

    a {
        color: $MenuTextColor;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
    }
    a:hover{
        color: $MenuTextHoverColor;
    }
}



#profileLogo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border-width: 0.5rem;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
}